<style>
	.img3 {
		width: 180px;
		margin-top: -17px;
	}
</style>
<style>
	.header-logo {
		margin-top: -60px;
		margin-left: -94px;
	}

	.man {
		width: 431px;
		margin-top: -226px;
	}

	.slider-shape2 {
		position: absolute;
		top: 53%;
		right: 35px;
	}

	.banner-carousel .slide-item {
		position: relative;
		overflow: hidden;
		min-height: 792px;
	}

	.about-shape {
		position: absolute;
		bottom: -32px;
		right: 111px;
	}
</style>
<style>
	.contact-us-area {
		background-color: #0a58ca;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 56px 0 70px;
		width: 1189px;
		border-radius: 20px;
		margin-top: 70px;
	}

	.contact-us-area {
		background: url("/assets/img/bg5.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding: 56px 0 70px;
	}

	.choose-area {
		position: relative;
		margin-top: -2px;
		background: url("/assets/img/bg6.png");
		background-size: contain;
		z-index: 1;
		padding: 115px 0 0px;
	}

	.choose-area::after {
		position: absolute;
		content: "";
		width: 50%;
		height: 100%;
		background: url("/assets/img/bg7.png");
		right: 0;
		z-index: -1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
	}

	.choose-icon {
		float: left;
		margin-right: 23px;
		background: #fff0;
		width: 90px;
		height: 90px;
		text-align: center;
		line-height: 90px;
		border-radius: 50%;
		transition: .5s;
	}
</style>


<style>
	/* Style for the container */
	.section-container {
		display: flex;
		align-items: center;
		margin-top: -28px;

	}

	/* Style for the left part (image) */
	.left-part {
		flex: 1;
		padding: 10px;
	}

	/* Style for the right part (title) */
	.right-part {
		flex: 1;
		padding: 10px;
	}

	/* Style for the image */
	.section-image {
		max-width: 100%;
		height: auto;
	}

	/* Style for the title */
	.section-title1 {
		margin-left: -230px;
		font-size: 20px;
		font-weight: bold;
	}

	.contact-us-area {
		width: 85%;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.choose-area::after {
			display: none;
		}

		.section-title1 {
			margin-left: -133px;
			font-size: 20px;
			font-weight: bold;
		}
	}

	.img2 {
		margin-top: 90px;
		width: 399px;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.slider-main-title h1 {
			font-size: 40px;
			line-height: 46px;
		}

		.img2 {
			margin-top: 90px;
			width: 100%;
		}

	}

	.breatcome-area {
		background: url('/assets/img/abbg.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 154px 0;
	}
</style>


<!--==================================================-->
<!-- Start Thrown Bratcome Area -->
<!--==================================================-->
<div class="breatcome-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="breatcome-content">
					<div class="breatcome-title">
						<h1>About Us</h1>
					</div>
					<div class="bratcome-text">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Bratcome Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown About Area -->
<!--==================================================-->
{{#each abouts}}
<div class="about-area inner-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="about-thumb">
					<img src="assets/img/ab1.jpg" alt="">
					<div class="about-shape bounce-animate">
						{{!-- <img src="assets/img/img2.png" alt=""> --}}
					</div>
				</div>

			</div>
			<div class="col-lg-6 col-md-12">
				<div class="section-title">
					<div class="about-sub-title">
						<h4>{{this.subtitle}}</h4>
					</div>
					<div class="about-main-title">
						<h2 class="font-bold">{{this.Mheading}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<!--start about single box -->
						<div class="about-single-box">
							<div class="about-icon">
								<h1 class="text-primary">07</h1>
							</div>
							<div class="about-text mt-0">
								<h4>Years of Experience</h4>
							</div>
						</div>
						<!--end about single box -->
					</div>
				</div>
				<br>
				<div class="about-content">
					<div class="about-discribtion">

						<p>{{this.desc}}</p>

					</div>


				</div>
			</div>
		</div>
	</div>
</div>
{{/each}}
<!--==================================================-->
<!-- End Thrown About Area -->
<!--==================================================-->



<style>
	.imgg2 {
		width: 150%;
		height: 100%;
		right: 0;
		z-index: -1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
	}
</style>

<!-- First Section with Full-width Covered Image -->
<section class="first-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<img src="assets/img/ab2.png" style="margin-left: -12px;" alt="Cover Image" class="imgg2">
			</div>
			<div class="col-lg-6 col-md-12" style="background-color: #0a58ca;">
				<div class="container">
					<div class="choose-content mt-5 p-2">
						<div class="section-title">
							<div class="section-sub-title choose">
							</div>
							<div class="section-main-title choose">
								<h2>OUR MISSION
								</h2>
							</div>
						</div>
						<div class="choose-discription">
							<p>HBMT is strived to be one of the most dedicated and committed suppliers in the industry
								by upholding the values of business ethics. We adhere and adopt stringent measures to
								achieve the quality and workers' health and safety to the international standards.

								.</p>
						</div>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Strong customer service and support.</h6>
							</div>
						</div>
						<br>
						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Quality solutions at all times.

								</h6>
							</div>
						</div>
						<br>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Delivery of technical excellence.

								</h6>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<section class="first-section">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-6 col-md-12" style="background-color: #0a58ca;">
				<div class="container">
					<div class="choose-content mt-5 p-2">
						<div class="section-title">
							<div class="section-sub-title choose">
							</div>
							<div class="section-main-title choose">
								<h2>QUALITY POLICY
								</h2>
							</div>
						</div>
						<div class="choose-discription">
							<p>We aim for an above-average level of satisfaction to our customers in providing quality
								products and timely delivery and proper execution of jobs with a responsible approach.
							</p>
						</div>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Our management system complies with ISO 9001 :
									2008.</h6>
							</div>
						</div>
						<br>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<img src="assets/img/ab3.png" style="margin-left: -12px;" alt="Cover Image" class="imgg2">
			</div>

		</div>
	</div>
</section>



<section class="first-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<img src="assets/img/ab4.png" style="margin-left: -12px;" alt="Cover Image" class="imgg2">
			</div>
			<div class="col-lg-6 col-md-12" style="background-color: #0a58ca;">
				<div class="container">
					<div class="choose-content mt-5 p-2">
						<div class="section-title">
							<div class="section-sub-title choose">
							</div>
							<div class="section-main-title choose">
								<h2>OUR TEAM
								</h2>
							</div>
						</div>
						<div class="choose-discription">
							<p>The experienced and well-trained commercial team performs business development, marketing
								& sales activities. The core of this team is a blend of personnel with experience &
								knowledge from the engineering, construction, manufacturing & piping design services
								industries.</p>
						</div>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Experience & knowledge from engineering. .</h6>
							</div>
						</div>
						<br>
						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Experience & knowledge from construction. .

								</h6>
							</div>
						</div>
						<br>

						<div class="section-container">
							<div class="left-part">
								<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
							</div>
							<div class="right-part">
								<h6 class="section-title1 text-white">Experience & knowledge from manufacturing & piping
									design services industries.

								</h6>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>



<!--==================================================-->
<!-- End Thrown Sidebar Area -->
<!--==================================================-->
<style>
	.img3 {
		width: 130px;
		margin-top: -17px;
	}
</style>


<!--==================================================-->
<!-- Start Thrown Footer Area -->
<!--==================================================-->
<div class="footer-area">
	<div class="container">
		<div class="row gx-7">
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-log">
						{{#each sites}}
						<a href="/"><img class="img3" src="/images/site-images/{{this._id}}.png" alt=""></a>
						{{/each}}
					</div>
					<div class="footer-wiget-text">
						<h4>Hydro Sanitary Ware Trading LLC</h4>
					</div>
					<div class="footer-shape-title">
						<p>We believe our services have immensely contributed to the infrastructure development
							requirements of the country for the past 07 years.</p>
					</div>

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-title">
						<h4>Links</h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							<li><a href="/"> Home</a></li>
							<li><a href="/about-us"> About Us</a></li>
							{{!-- <li><a href="#">Careers</a></li> --}}
							{{!-- <li><a href="#">Gallery</a></li> --}}
							<li><a href="/products"> Products</a></li>
							<li><a href="/contact-us"> Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-title">
						<h4>Our Product Links</h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							{{#each categories}}
							<li><a href="{{this.dl}}"> {{this.name}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 pr-0">
				<div class="foter-box">
					<div class="footer-wiget-icon">
						<ul>
							{{#each socials}}
							<li><a href="{{this.url}}"><i class="bi bi-{{this.iname}}"></i></a></li>
							{{/each}}
						</ul>
					</div>
					<div class="footer-widget-contct-menu">
						<ul>
							{{#each contacts}}
							<li><a href="#">{{this.Phone}}</a></li>
							<li class="line"><a href="#">Info@hydrosanitary.com</a></li>
							<li><a href="#">{{this.Location}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center mt-100">
			<div class="col-lg-6 col-md-12">
				<div class="copyright-text">
					<p>Copyright © <a href="#">Hydro</a> All Rights Reserved.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="footer-condition">
					<ul>
						<li><a href="#">Terms of use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Footer Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i
				class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="fas fa-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!--==================================================-->