<style>
	.slider-sub-title h4 {
		color: #1A1A1A;
		font-size: 14px;
		color: white;
		font-weight: 700;
		line-height: normal;
		background: #c0c0c026;
		display: inline-block;
		padding: 12px 73px 13px 8px;
		border-radius: 40px;
		margin-bottom: 25px;
	}

	@media only screen and (min-width: 480px) and (max-width: 574px) {
		.slider-main-title h1 {
			font-size: 40px;
			line-height: 55px;
			font-weight: 800;
		}
	}

	@media (min-width: 1200px) and (max-width: 1600px) {
		.about-thumb {
			top: 32px;
		}
	}
</style>

<!--==================================================-->
<!-- Start Thrown Slider Area -->
<!--==================================================-->
<section class="banner-section">
	<div class="banner-carousel owl-carousel">
		{{#each banners}}
		<div class="slide-item one">
			<div class="image-layer" style="background-image: url('/images/banner-images/{{this._id}}.png');"></div>
			<div class="container">
				<div class="slider-content">
					{{!-- <div class="slider-sub-title">
						<h4 class="text-center">
							<center>{{this.subtitle}}</center>
						</h4>
					</div> --}}
					<div class="slider-main-title">
						<div class="container">
							<h1>{{this.Mheading}}</h1>
						</div>
					</div>
					<div class="slider-discripton">
						<p>{{this.desc}}</p>
					</div>
					<div class="thrown-btn slider">
						<a class="header-button" href="{{this.btnlink}}">Get A Quote <span></span></a>
					</div>
				</div>
				<div class="slider-shape">
					<img src="assets/img/border.png" alt="">
				</div>
				<div class="slider-shape2 bounce-animate man">
					<img src="assets/img/man.png" alt="">
				</div>

			</div>
		</div>
		{{/each}}
		{{!-- <div class="slide-item two">
			<div class="image-layer" style="background-image: url('assets/img/bg3.png');"></div>
			<div class="container">
				<div class="slider-content two">
					<center>

						<!-- <div class="slider-sub-title style-two text-center">
								<h4>Welcome to Master of Materials</h4>
							</div> -->

						<div class="slider-main-title text-center">
							<h1>Welcome To <br>
								<font color="#EA5B1B">Hydrotrad</font> Building
							</h1>
							<h1>Materials Trading L.L.C</h1>
						</div>

						<div class="thrown-btn slider2 tex">
							<a class="header-button" href="#">Read More<span></span></a>
						</div>
					</center>

				</div>
			</div>
		</div> --}}
	</div>
</section>
<!--==================================================-->
<!-- End Thrown Slider Area -->
<!--==================================================-->
<style>
	.about-main-title h2 {
		color: #010212;
		font-size: 45px;
		font-weight: 600;
		line-height: 56px;
		margin-top: 0;
	}

	.contact-us-area {
		background-color: #ea5b1b;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 56px 0 70px;
	}
</style>
<!--==================================================-->
<!-- Start Thrown About Area -->
<!--==================================================-->
{{#each abouts}}
<div class="about-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title text-center">
					<div class="section-sub-title">
						<h4>{{this.subtitle}}</h4>
					</div>
					<div class="section-main-title">
						<h2>{{this.Mheading}}</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="about-thumb">
					<img src="/images/about-images/{{this._id}}.png" alt="">
					<div class="about-shape bounce-animate">
						<img src="assets/img/img2.png" style="    margin-left: 145px;" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">

				<div class="about-content">
					<div class="about-discribtion">
						<p>{{this.desc}}</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{{/each}}
<!--==================================================-->
<!-- End Thrown About Area -->
<!--==================================================-->


<!--==================================================-->
<!-- Start Thrown Contact Us Area -->
<!--==================================================-->
{{#each sones}}
<div class="contact-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7 col-md-12">
				<div class="section-title contact">
					<div class="section-main-title contact">
						<h2 class="mt-5">{{this.Mheading}} </h2>
					</div>
					<div class="contact-discription">
						<p>{{this.desc}}
						</p>
					</div>
					<div class="thrown-btn contact mb-4">
						<a class="header-button" href="{{this.btnlink}}">Contact Us <span
								style="top: 197.658px; left: 152.499px;"></span></a>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<div class="contact-thumb">
					<img src="assets/img/man2.png" width="480px;" alt="">
					<div class="contact-shape bounce-animate">
						<img src="assets/img/shape1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/each}}
<!--==================================================-->
<!-- End Thrown Contact Us Area -->
<!--==================================================-->


<style>
	.contact-us-area {
		background-color: #ea5b1b;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 56px 0 70px;
		width: 1189px;
		border-radius: 20px;
		margin-top: 70px;
	}

	.contact-us-area {
		background: url("/assets/img/bg5.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding: 56px 0 70px;
	}

	.choose-area {
		position: relative;
		margin-top: -2px;
		background: url("assets/img/bg6.png");
		background-size: contain;
		z-index: 1;
		padding: 115px 0 78px;
	}

	.choose-area::after {
		position: absolute;
		content: "";
		width: 50%;
		height: 100%;
		background: url("assets/img/bg7.png");
		right: 0;
		z-index: -1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
	}

	.choose-icon {
		float: left;
		margin-right: 23px;
		background: #fff0;
		width: 90px;
		height: 90px;
		text-align: center;
		line-height: 90px;
		border-radius: 50%;
		transition: .5s;
	}
</style>


<!--==================================================-->
<!-- Start Thrown Contact Us Area -->
<!--==================================================-->
{{!-- <center>
	<div class="contact-us-area mb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="contact-us-items">
						<div class="contact-us-content">
							<h4>Support Center 24/7</h4>
							<h2>Feel Free To Contact Us For
								Additional Info</h2>
						</div>
						<div class="thrown-btn contact-us">
							<a class="header-button" href="{{this.btnlink}}">Contact Us <span></span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="contact-us-items two">
						<div class="contact-us-content">
							<h4>Here We Are</h4>
							<h2>Feel Free To Contact Us For
								Additional Info</h2>
						</div>
						<div class="thrown-btn contact-us2">
							<a class="header-button" href="{{this.btnlink}}">Get Started <span></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</center> --}}
<!--==================================================-->
<!-- End Thrown Contact Us Area -->
<!--==================================================-->


<style>
	/* Style for the container */
	.section-container {
		display: flex;
		align-items: center;
		margin-top: -28px;

	}

	/* Style for the left part (image) */
	.left-part {
		flex: 1;
		padding: 10px;
	}

	/* Style for the right part (title) */
	.right-part {
		flex: 1;
		padding: 10px;
	}

	/* Style for the image */
	.section-image {
		max-width: 100%;
		height: auto;
	}

	/* Style for the title */
	.section-title1 {
		margin-left: -230px;
		font-size: 20px;
		font-weight: bold;
	}

	.contact-us-area {
		width: 85%;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.choose-area::after {
			display: none;
		}

		.section-title1 {
			margin-left: -133px;
			font-size: 20px;
			font-weight: bold;
		}
	}

	.img2 {
		margin-top: 90px;
		width: 399px;
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.slider-main-title h1 {
			font-size: 40px;
			line-height: 46px;
		}

		.img2 {
			margin-top: 90px;
			width: 100%;
		}

	}
</style>

<!--==================================================-->
<!-- Start Thrown Choose Area -->
<!--==================================================-->
<div class="choose-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12" style="margin-bottom: 120px;">
				<div class="choose-content">
					<div class="section-title">
						<div class="section-sub-title choose">
							<h4>What We Offer
							</h4>
						</div>
						<div class="section-main-title choose">
							<h2>We Provide Best Solution</h2>
						</div>
					</div>
					<div class="choose-discription">
						<p>Hydro Sanitary Ware Trading LLC is striving to ensure total customer satisfaction by
							providing dedicated service to all
							levels.

							.</p>
					</div>

					<div class="section-container">
						<div class="left-part">
							<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
						</div>
						<div class="right-part">
							<h6 class="section-title1 text-white">Electrical & HVAC</h6>
						</div>
					</div>
					<br>
					<div class="section-container">
						<div class="left-part">
							<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
						</div>
						<div class="right-part">
							<h6 class="section-title1 text-white">Pipes & Fitting</h6>
						</div>
					</div>
					<br>

					<div class="section-container">
						<div class="left-part">
							<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
						</div>
						<div class="right-part">
							<h6 class="section-title1 text-white">Valves & Accessories</h6>
						</div>
					</div>
					<br>

					<div class="section-container">
						<div class="left-part">
							<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
						</div>
						<div class="right-part">
							<h6 class="section-title1 text-white">Mixers & Sanitary Accessories</h6>
						</div>
					</div>
					<br>

					<div class="section-container">
						<div class="left-part">
							<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
						</div>
						<div class="right-part">
							<h6 class="section-title1 text-white">Hand Tools & Equipment’s</h6>
						</div>
					</div>
					<br>

					<div class="section-container">
						<div class="left-part">
							<img class="section-image" src="assets/img/icon1.png" alt="Your Image">
						</div>
						<div class="right-part">
							<h6 class="section-title1 text-white">Hardware’s & Safety Equipment’s</h6>
						</div>
					</div>
					<br><br>



				</div>
			</div>



			<div class="col-lg-6 col-md-12">
				<!-- <div class="single-video style-two">
						<div class="video-icon style-two">
							<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true"
								href="https://youtu.be/BS4TUd7FJSg"><i class="bi bi-play"></i></a>
						</div>
					</div> -->
				<div class="choose-contact">
					<div class="row">
						<div class="col-lg-4 col-md-12">
							<div class="subscribe-title">
								<h4>Subscribe Our Newsletter</h4>
							</div>
						</div>
						<div class="col-lg-8 col-md-12">
							<form action="https://formspree.io/f/myyleorq" method="post" id="#">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="form-box">
											<input type="text" name="email" placeholder="Email Address">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-6">
										<div class="form-box-button choose">
											<button type="Submit">Subscribe <i class="bi bi-arrow-right"></i></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Choose Area -->
<!--==================================================-->



<!--==================================================-->
<!-- Start Thrown Service Area -->
<!--==================================================-->
<!-- <div class="service-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<div class="section-sub-title">
							<h4>Provide Services</h4>
						</div>
						<div class="section-main-title">
							<h2>Provide Creative Services For</h2>
							<h2>Your Business Growth</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon1.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Analysis Product
										Marketing</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon2.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Discover Creative
										Strategy</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon3.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Analysis Product
										Marketing</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon4.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Solution And
										Regenerating Easily</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon5.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Cool & Modern Animations</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon6.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Varied Layouts & Parallax</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon1.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Market Analysis &
										Research</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-3">
					<div class="service-single-box">
						<div class="service-icon">
							<img src="assets/images/service/service-icon1.png" alt="">
						</div>
						<div class="service-content">
							<div class="service-title">
								<h4><a href="service-details.html">Customer Care &
										Support</a></h4>
							</div>
							<div class="underline">
								<div class="br-line"></div>
							</div>
							<div class="serivice-discription">
								<p>Egestas dictum le mmodo ristique nunc faucibus sitortor commodo aliquet commodo</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!--==================================================-->
<!-- End Thrown Service Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown Project Area -->
<!--==================================================-->
<div class="project-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title text-center">
					<div class="section-sub-title">
						<h4>Products</h4>
					</div>
					<div class="section-main-title">
						<h2>Our Products</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- Photo Grid -->
		<div class="row">
			<div class="column">
				<div class="project-thumb">
					<img src="assets/img/p1.png" alt="" style="width:100%">
					<div class="portfolio-content">
						<div class="protfolio-title">
							<h3><a href="/products">Valves And Accessories</a></h3>
							<a href="/products" class="btn btn-primary btn-sm mt-3">View Product</a>
						</div>
					</div>
				</div>
				<div class="project-thumb">
					<img src="assets/img/p4.png" alt="" style="width:100%">
					<div class="portfolio-content">
						<div class="protfolio-title">
							<h3><a href="/products">Mixers And Sanitary Accessories</a></h3>
							<a href="/products" class="btn btn-primary btn-sm mt-2">View Product</a>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="project-thumb">
					<img src="assets/img/p2.png" alt="" style="width:100%">
					<div class="portfolio-content">
						<div class="protfolio-title">
							<h3><a href="/products">Pipes And
									Fittings</a></h3>
							<a href="/products" class="btn btn-primary btn-sm mt-3">View Product</a>
						</div>
					</div>
				</div>
				<div class="project-thumb">
					<img src="assets/img/p3.png" alt="" style="width:100%">
					<div class="portfolio-content">
						<div class="protfolio-title">
							<h3><a href="/products">Hardware’s And
									Safety Equipment’s</a></h3>
							<a href="/products" class="btn btn-primary btn-sm mt-3">View Product</a>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="project-thumb">
					<img src="assets/img/p3.png" alt="" style="width:100%">
					<div class="portfolio-content">
						<div class="protfolio-title">
							<h3><a href="/products">Pipes And
									Fittings</a></h3>
							<a href="/products" class="btn btn-primary btn-sm mt-3">View Product</a>
						</div>
					</div>
				</div>
				<div class="project-thumb">
					<img src="assets/img/p2.png" alt="" style="width:100%">
					<div class="portfolio-content">
						<div class="protfolio-title">
							<h3><a href="/products">Valves And Accessories</a></h3>
							<a href="/products" class="btn btn-primary btn-sm mt-3">View Product</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="/products" class="btn btn-primary w-25">View More Products</a>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Project Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown Sucsess Area -->
<!--==================================================-->
<!-- <div class="sucsess-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="sucsees-single-box">
						<div class="sucsess-counter">
							<div class="sucsess-counter-icon">
								<i class="bi bi-heart-fill"></i>
							</div>
							<div class="sucsess-numbar">
								<h4 class="counter">7230</h4>
							</div>
						</div>
						<div class="sucsess-content">
							<h4>Trusted Clients</h4>
							<h6>There are of Lorem Ipsum</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="sucsees-single-box">
						<div class="sucsess-counter">
							<div class="sucsess-counter-icon">
								<i class="bi bi-star-fill"></i>
							</div>
							<div class="sucsess-numbar">
								<h4 class="counter">98</h4>
								<span>%</span>
							</div>
						</div>
						<div class="sucsess-content">
							<h4>Successful Cases</h4>
							<h6>There are of Lorem Ipsum</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="sucsees-item-box">
						<div class="sucsess-item-counter">
							<div class="sucsess-item-numbar">
								<h4 class="counter">15,890</h4>
								<span>+</span>
							</div>
						</div>
						<div class="sucsess-item-two">
							<h4>Criminal Defense</h4>
							<h4>Case Served</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

<!--==================================================-->
<!-- End Thrown Sucsess Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown Team Area -->
<!--==================================================-->
<!-- <div class="team-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<div class="section-sub-title">
							<h4>OUR WORKERS</h4>
						</div>
						<div class="section-main-title team">
							<h2>Working With Excellentour</h2>
							<h2>Great Team</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="team-single-box">
						<div class="team-thumb">
							<img src="assets/images/team/team1.png" alt="">
							<div class="team-share-social">
								<div class="team-socail-icon">
									<a href="#"><span><i class="fab fa-facebook-f"></i></span></a>
									<a href="#"><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fab fa-linkedin-in"></i></a>
									<a href="#"><i class="fab fa-pinterest-p"></i></a>
								</div>
								<div class="team-btn">
									<div class="team-icon">
										<span><i class="bi bi-share"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="team-content">
							<div class="team-title">
								<h4><a href="team-details.html">George Clooney</a></h4>
								<span>Marketing Officer</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-single-box">
						<div class="team-thumb">
							<img src="assets/images/team/team2.png" alt="">
							<div class="team-share-social">
								<div class="team-socail-icon">
									<a href="#"><span><i class="fab fa-facebook-f"></i></span></a>
									<a href="#"><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fab fa-linkedin-in"></i></a>
									<a href="#"><i class="fab fa-pinterest-p"></i></a>
								</div>
								<div class="team-btn">
									<div class="team-icon">
										<span><i class="bi bi-share"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="team-content">
							<div class="team-title">
								<h4><a href="team-details.html">Dennis Barrett</a></h4>
								<span>Head of Design</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-single-box">
						<div class="team-thumb">
							<img src="assets/images/team/team3.png" alt="">
							<div class="team-share-social">
								<div class="team-socail-icon">
									<a href="#"><span><i class="fab fa-facebook-f"></i></span></a>
									<a href="#"><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fab fa-linkedin-in"></i></a>
									<a href="#"><i class="fab fa-pinterest-p"></i></a>
								</div>
								<div class="team-btn">
									<div class="team-icon">
										<span><i class="bi bi-share"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="team-content">
							<div class="team-title">
								<h4><a href="team-details.html">Louis Ferguson</a></h4>
								<span>Co-Founder</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="team-shape1 bounce-animate">
				<img src="assets/images/team/team-shape1.png" alt="">
			</div>
			<div class="team-shape2 bounce-animate">
				<img src="assets/images/team/team-shape2.png" alt="">
			</div>
		</div>
	</div> -->
<!--==================================================-->
<!-- End Thrown Team Area -->
<!--==================================================-->
<style>
	.bg1 {
		display: block;
		cursor: pointer;
		color: #ffffff;
		font-weight: 500;
		font-size: 18px;
		padding: 12px 31px 12px;
		text-decoration: none;
		margin-bottom: 11px;
		border: 1px solid rgba(221, 221, 221, 0.45);
		box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.bg2 {
		display: block;
		cursor: pointer;
		color: #ffffff;
		font-weight: 500;
		font-size: 18px;
		padding: 15px 31px 12px;
		background-color: #00000086;
		text-decoration: none;
		margin-bottom: 11px;
		box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
<!--==================================================-->
<!-- Start Thrown Faq Area -->
<!--==================================================-->
<div class="faq-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12">
				<div class="single-video">
					<div class="video-icon">
						<img class="img2" src="assets/img/img3.png">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="tab_container">
					<div id="tab1" class="tab_content">
						<div class="bg1">
							<h5 class="text-white">Our Mission</h5>
						</div>
						<div class="bg2">
							<p class="text-white">Hydro Sanitary Ware Trading LLC is strived to be one of the most
								dedicated and committed
								suppliers in the industry by upholding the values of business ethics. We adhere and
								adopt stringent measures to achieve quality and workers. workers' health and safety to
								the international standards..</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Faq Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown Sales Report Area -->
<!--==================================================-->
<!-- <div class="sales-report-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-md-12">
					<div class="section-title">
						<div class="section-main-title sales">
							<h2>How we Plan to </h2>
							<h2>Disrupt the Strategy</h2>
						</div>
					</div>
					<div class="sales-content">
						<div class="sales-discription">
							<p>We're based in NYC, which is home to so many great companies and communities, but it's
								also where we started out as a bootstrapped team of two people working from their
								apartments. </p>
						</div>
						<div class="sales-list">
							<span><i class="bi bi-check"></i> Agile web design and development methodology</span>
							<span><i class="bi bi-check"></i> Award winning web solutions and sites</span>
							<span><i class="bi bi-check"></i> Competitive rates for web design and development
								talen</span>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-12">
					<div class="sales-thumb">
						<img src="assets/images/resource/Sales-thumb.png" alt="">
					</div>
					<div class="row sales">
						<div class="col-lg-6 col-md-6 col-sm-6 col-6">
							<div class="sales-single-box">
								<div class="sales-item-content">
									<div class="sales-title">
										<h5>Sales</h5>
									</div>
									<div class="sales-price">
										<span>$</span>
										<h2 class="counter">31,092</h2>
									</div>
									<div class="sales-years">
										<span><i class="bi bi-arrow-up-short"></i>4.2%</span>
										<h4>from last year</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-6">
							<div class="sales-single-box">
								<div class="sales-item-content">
									<div class="sales-title">
										<h5>Marketing</h5>
									</div>
									<div class="sales-price">
										<span>$</span>
										<h2>29,128</h2>
									</div>
									<div class="sales-years">
										<span><i class="bi bi-arrow-up-short"></i>2.1%</span>
										<h4>from last yea</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!--==================================================-->
<!-- End Thrown Sales Report Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown counter Area -->
<!--==================================================-->
<div class="counter-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<!-- start counter single box -->
				<div class="counter-single-box">
					<div class="counter-numbar">
						<h4 class="counter">500</h4>
						<span>+</span>
					</div>
					<div class="counter-content">
						<h5>Happy Customers</h5>
					</div>
				</div>
				<!-- End counter single box -->
			</div>
			<div class="col-lg-3 col-md-4">
				<!-- start counter single box -->
				<div class="counter-single-box">
					<div class="counter-numbar">
						<h4 class="counter">50</h4>
						<span>+</span>
					</div>
					<div class="counter-content">
						<h5>Brands</h5>
					</div>
				</div>
				<!-- End counter single box -->
			</div>
			<div class="col-lg-3 col-md-4">
				<!-- start counter single box -->
				<div class="counter-single-box">
					<div class="counter-numbar">
						<h4 class="counter">20</h4>
						<span>+</span>
					</div>
					<div class="counter-content">
						<h5>Staffs</h5>
					</div>
				</div>
				<!-- End counter single box -->
			</div>
			<div class="col-lg-3 col-md-4">
				<!-- start counter single box -->
				<div class="counter-single-box">
					<div class="counter-numbar">
						<h4 class="counter">1</h4>
						<span></span>
					</div>
					<div class="counter-content">
						<h5>Location</h5>
					</div>
				</div>
				<!-- End counter single box -->
			</div>
		</div>
		<div class="counter-shape bounce-animate">
			<img src="assets/img/ele.png" width="561px" alt="">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown counter Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown Testimonial Area -->
<!--==================================================-->
<!-- <div class="testimonial-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<div class="section-sub-title">
							<h4>OUR WORKERS</h4>
						</div>
						<div class="section-main-title">
							<h2>Working With Excellentour</h2>
							<h2>Great Team</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="testi_list owl-carousel">
					<div class="col-lg-12">
						<div class="testi-single-box">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi1.png" alt="">
							</div>
							<div class="testi-content">
								<div class="testi-title">
									<h4>Charlize Theron</h4>
									<span>Trainer</span>
								</div>
								<div class="testi-discription">
									<p>Foundation was established with a small idea that was incepted in the minds of
										its promoters in the year 1994! We skilfully guide applicants for immigration
										process to any country they aspire to settle down</p>
								</div>
							</div>
							<div class="testi-icon-thumb">
								<img src="assets/images/testimonial/testi-icon.png" alt="">
							</div>
							<div class="testi-rating">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testi-single-box">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi2.png" alt="">
							</div>
							<div class="testi-content">
								<div class="testi-title">
									<h4>Charlize Theron</h4>
									<span>Admin Executive</span>
								</div>
								<div class="testi-discription">
									<p>Foundation was established with a small idea that was incepted in the minds of
										its promoters in the year 1994! We skilfully guide applicants for immigration
										process to any country they aspire to settle down</p>
								</div>
							</div>
							<div class="testi-icon-thumb">
								<img src="assets/images/testimonial/testi-icon.png" alt="">
							</div>
							<div class="testi-rating">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testi-single-box">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi1.png" alt="">
							</div>
							<div class="testi-content">
								<div class="testi-title">
									<h4>Charlize Theron</h4>
									<span>Trainer</span>
								</div>
								<div class="testi-discription">
									<p>Foundation was established with a small idea that was incepted in the minds of
										its promoters in the year 1994! We skilfully guide applicants for immigration
										process to any country they aspire to settle down</p>
								</div>
							</div>
							<div class="testi-icon-thumb">
								<img src="assets/images/testimonial/testi-icon.png" alt="">
							</div>
							<div class="testi-rating">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testi-single-box">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi2.png" alt="">
							</div>
							<div class="testi-content">
								<div class="testi-title">
									<h4>Charlize Theron</h4>
									<span>Admin Executive</span>
								</div>
								<div class="testi-discription">
									<p>Foundation was established with a small idea that was incepted in the minds of
										its promoters in the year 1994! We skilfully guide applicants for immigration
										process to any country they aspire to settle down</p>
								</div>
							</div>
							<div class="testi-icon-thumb">
								<img src="assets/images/testimonial/testi-icon.png" alt="">
							</div>
							<div class="testi-rating">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testi-single-box">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi1.png" alt="">
							</div>
							<div class="testi-content">
								<div class="testi-title">
									<h4>Charlize Theron</h4>
									<span>Trainer</span>
								</div>
								<div class="testi-discription">
									<p>Foundation was established with a small idea that was incepted in the minds of
										its promoters in the year 1994! We skilfully guide applicants for immigration
										process to any country they aspire to settle down</p>
								</div>
							</div>
							<div class="testi-icon-thumb">
								<img src="assets/images/testimonial/testi-icon.png" alt="">
							</div>
							<div class="testi-rating">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testi-single-box">
							<div class="testi-thumb">
								<img src="assets/images/testimonial/testi2.png" alt="">
							</div>
							<div class="testi-content">
								<div class="testi-title">
									<h4>Charlize Theron</h4>
									<span>Admin Executive</span>
								</div>
								<div class="testi-discription">
									<p>Foundation was established with a small idea that was incepted in the minds of
										its promoters in the year 1994! We skilfully guide applicants for immigration
										process to any country they aspire to settle down</p>
								</div>
							</div>
							<div class="testi-icon-thumb">
								<img src="assets/images/testimonial/testi-icon.png" alt="">
							</div>
							<div class="testi-rating">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!--==================================================-->
<!-- End Thrown Testimonial Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Thrown Blog Area -->
<!--==================================================-->
<!-- <div class="blog-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<div class="section-sub-title">
							<h4>Our Blog update</h4>
						</div>
						<div class="section-main-title">
							<h2>Recent Important Stories</h2>
							<h2>Daily Updated</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="blog-single-box">
						<div class="blog-content">
							<div class="blog-title">
								<h4><a href="blog-details.html">Digital Privacy Changes And
										The Impact On Advertising</a></h4>
							</div>
							<div class="blog-meta">
								<span><i class="bi bi-calendar4-week"></i> 15 Nov, 2023</span>
								<span><i class="bi bi-chat-left"></i> 12 Comment</span>
							</div>
							<div class="blog-discription">
								<p>Dolor sed maecenas quis faucibus justo nibh ultricies praesent justo dolorIf you are
									going to use </p>
							</div>
							<div class="blog-bottom-shape">
								<img src="assets/images/blog/blog-shape.png" alt="">
							</div>
							<div class="blog-bottom-title">
								<h4>Admin</h4>
							</div>
							<div class="blog-btn">
								<a href="#">Learn More <i class="bi bi-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-single-box">
						<div class="blog-content">
							<div class="blog-title">
								<h4><a href="blog-details.html">How to Onboard New Clients the Right Way</a></h4>
							</div>
							<div class="blog-meta">
								<span><i class="bi bi-calendar4-week"></i> 15 Nov, 2023</span>
								<span><i class="bi bi-chat-left"></i> 12 Comment</span>
							</div>
							<div class="blog-discription">
								<p>Dolor sed maecenas quis faucibus justo nibh ultricies praesent justo dolorIf you are
									going to use </p>
							</div>
							<div class="blog-bottom-shape">
								<img src="assets/images/blog/blog-shape.png" alt="">
							</div>
							<div class="blog-bottom-title">
								<h4>Admin</h4>
							</div>
							<div class="blog-btn">
								<a href="#">Learn More <i class="bi bi-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-single-box">
						<div class="blog-content">
							<div class="blog-title">
								<h4><a href="blog-details.html">How Marketing Compliance Your Marketing Strategy</a>
								</h4>
							</div>
							<div class="blog-meta">
								<span><i class="bi bi-calendar4-week"></i> 15 Nov, 2023</span>
								<span><i class="bi bi-chat-left"></i> 12 Comment</span>
							</div>
							<div class="blog-discription">
								<p>Dolor sed maecenas quis faucibus justo nibh ultricies praesent justo dolorIf you are
									going to use </p>
							</div>
							<div class="blog-bottom-shape">
								<img src="assets/images/blog/blog-shape.png" alt="">
							</div>
							<div class="blog-bottom-title">
								<h4>Admin</h4>
							</div>
							<div class="blog-btn">
								<a href="#">Learn More <i class="bi bi-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-shape1 bounce-animate">
				<img src="assets/images/blog/blog-shape2.png" alt="">
			</div>
			<div class="blog-shape2 bounce-animate">
				<img src="assets/images/blog/blog-shape1.png" alt="">
			</div>
		</div>
	</div> -->
<!--==================================================-->
<!-- End Thrown Blog Area -->
<!--==================================================-->
<style>
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.contact-single-box {
			margin-bottom: 4px;
		}
	}
</style>

<div class="contact-area-three">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12">
				<div class="section-title">
					<div class="section-sub-title contact-thrree">
						<h4>Contact With Us</h4>
					</div>
					<div class="section-main-title contact-thrree">
						<h2>Let’s Work Together?</h2>
					</div>
				</div>
				<div class="contact-three-discription">
					<p>Most of the products can be immediately supplied from our ready stock at short notice.
					</p>
				</div>
				{{!-- <div class="contact-list">
					<span><i class="bi bi-chevron-double-right"></i> Refreshing to get such a personal touch</span>
					<span> <i class="bi bi-chevron-double-right"></i>Velit esse cillum dolore eu</span>
				</div> --}}
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="card p-3 shadow mb-2">
							<div class="contact-single-box">
								<i class="bi bi-telephone-plus" style="font-size: 2em; color:#007bc7;"></i>
								<div class="contact-content">
									<h5>Have Any Question?</h5>
									<h3>(+971)56 522 1980</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-6">
						<div class="card p-3 shadow mb-2">
							<div class="contact-single-box">
								<i class="bi bi-envelope" style="font-size: 2em; color:#007bc7;"></i>
								<div class="contact-content">
									<h5>Send Email</h5>
									<h3>info@hydrosanitary.com</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-12">
				<div class="contact-box">
					<div class="contact-title">
						<h4>Contact Us</h4>
					</div>
					<form action="https://formspree.io/f/myyleorq" method="post" id="it-form">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-box">
									<input type="text" name="name" placeholder="Your Name">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-box">
									<input type="text" name="email" placeholder="Your Email">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-box">
									<textarea name="message" placeholder="Message here .."></textarea>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-box-button contact">
									<button type="Submit">Read More</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!--==================================================-->
<!-- End Thrown Sidebar Area -->
<!--==================================================-->
<style>
	.img3 {
		width: 130px;
		margin-top: -17px;
	}
</style>


<!--==================================================-->
<!-- Start Thrown Footer Area -->
<!--==================================================-->
<div class="footer-area">
	<div class="container">
		<div class="row gx-7">
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-log">
						{{#each sites}}
						<a href="/"><img class="img3" src="/images/site-images/{{this._id}}.png" alt=""></a>
						{{/each}}
					</div>
					<div class="footer-wiget-text">
						<h4>Hydro Sanitary Ware Trading LLC</h4>
					</div>
					<div class="footer-shape-title">
						<p>We believe our services have immensely contributed to the infrastructure development
							requirements of the country for the past 07 years.</p>
					</div>

				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-title">
						<h4>Links</h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							<li><a href="/"> Home</a></li>
							<li><a href="/about-us"> About Us</a></li>
							{{!-- <li><a href="#">Careers</a></li> --}}
							{{!-- <li><a href="#">Gallery</a></li> --}}
							<li><a href="/products"> Products</a></li>
							<li><a href="/contact-us"> Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-wiget">
					<div class="footer-wiget-title">
						<h4>Our Product Links</h4>
					</div>
					<div class="footer-wiget-menu">
						<ul>
							{{#each categories}}
							<li><a href="/prd-view{{this.dl}}/{{this.name}}"> {{this.name}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 pr-0">
				<div class="foter-box">
					<div class="footer-wiget-icon">
						<ul>
							{{#each socials}}
							<li><a href="{{this.url}}"><i class="bi bi-{{this.iname}}"></i></a></li>
							{{/each}}
						</ul>
					</div>
					<div class="footer-widget-contct-menu">
						<ul>
							{{#each contacts}}
							<li><a href="#">{{this.Phone}}</a></li>
							<li class="line"><a href="#">Info@hydrosanitary.com</a></li>
							<li><a href="#">{{this.Location}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center mt-100">
			<div class="col-lg-6 col-md-12">
				<div class="copyright-text">
					<p>Copyright © <a href="#">Hydro</a> All Rights Reserved.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="footer-condition">
					<ul>
						<li><a href="#">Terms of use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End Thrown Footer Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"><i
				class="far fa-times-circle"></i></span></button>
	<button class="close-search"><i class="fas fa-arrow-up"></i></button>
	<form method="post" action="#">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!--==================================================-->